<a href="https://colab.research.google.com/github/leonarddocchagas/data_science/blob/master/Analisando_os_Crimes_do_Rio_de_Janeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="40%" src="https://github.com/leonarddocchagas/data_science/blob/master/projetos/crimes_rio_de_janeiro/img_rio_02.jpg?raw=true" align="center">

## Analisando Crimes no Rio de Janeiro

Conhecida mundialmente como "cidade maravilhosa", o Rio, talvez seja a cidade brasileira mais conhecida ao redor do mundo. Praias, pontos turísticos, vida noturna. Realmente a cidade é belíssima.

Mas, por conta do descaso público, com o passar dos anos a cidade foi tomada pela criminalidade. Roubos, furtos, arrastões veêm assustando turistas e os moradores do local.

O objeto da nossa análise é explorar os dados, para identificar padrões das ocorrências.

In [1]:
import pandas as pd

In [2]:
DATA_PATH = 'https://raw.githubusercontent.com/leonarddocchagas/data_science/bddff3abf32bcf22f584fb77d59dd6f04400e9ab/projetos/crimes_rio_de_janeiro/violencia_rio.csv'

In [4]:
df = pd.read_csv(DATA_PATH)
df.head()

   vano  mes  hom_doloso  ...  indicador_roubo_veic  registro_ocorrencias  fase
0  1991    1         657  ...                  1174                   NaN     3
1  1991    2         732  ...                  1097                   NaN     3
2  1991    3         713  ...                  1265                   NaN     3
3  1991    4         634  ...                  1415                   NaN     3
4  1991    5         650  ...                  1449                   NaN     3

[5 rows x 56 columns]