<a href="https://colab.research.google.com/github/leonarddocchagas/data_science/blob/master/Estudo_de_Caso_da_COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt='Covid-19' width='20%' src='https://github.com/leonarddocchagas/data_science/blob/master/projetos/covid_19/covid_19.png?raw=true' />

##**Estudo de Caso da COVID-19**

Os coronavírus são uma grande família de vírus comuns em muitas espécies diferentes de animais, incluindo camelos, gado, gatos e morcegos. Raramente, os coronavírus que infectam animais podem infectar pessoas, como exemplo do MERS-CoV e SARS-CoV. Recentemente, em dezembro de 2019, houve a transmissão de um novo coronavírus (SARS-CoV-2), o qual foi identificado em Wuhan na China e causou a COVID-19, sendo em seguida disseminada e transmitida pessoa a pessoa.

A COVID-19 é uma doença causada pelo coronavírus, denominado SARS-CoV-2, que apresenta um espectro clínico variando de infecções assintomáticas a quadros graves. De acordo com a Organização Mundial de Saúde, a maioria (cerca de 80%) dos pacientes com COVID-19 podem ser assintomáticos ou oligossintomáticos (poucos sintomas), e aproximadamente 20% dos casos detectados requer atendimento hospitalar por apresentarem dificuldade respiratória, dos quais aproximadamente 5% podem necessitar de suporte ventilatório.

- Explicação direto do Ministério da Saúde: https://coronavirus.saude.gov.br/sobre-a-doenca

##Obtenção dos Dados

####**Sobre**
O dados que serão utilizado na análise, foram retirados no portal open-source <a href='https://ourworldindata.org/coronavirus/country/brazil?country=~BRA'>Our World in Data</a> e possuem registro da doença de diversos países pelo mundo. 

**Fonte**
* Url: https://ourworldindata.org/coronavirus/country/brazil?country=~BRA

####**Dicionário**
Por conta da quantidade de linha, resolvi não apresentar de forma visual, então, para quem quiser consultar o dicionário de dados, basta acessar o link que está logo abaixo:
https://github.com/leonarddocchagas/data_science/blob/master/projetos/covid_19/DicionarioCovid19.xlsx

##Análise Exploratória

In [ ]:
# carrega bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('https://raw.githubusercontent.com/leonarddocchagas/data_science/master/projetos/covid_19/owid-covid-data.csv')
df

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
42858      NaN       NaN  ...             NaN                     NaN
42859      NaN       NaN  ...             NaN                     NaN
42860      NaN       NaN  ...             NaN                     NaN
42861      NaN       NaN  ...             NaN                     NaN
42862      NaN       NaN  ...             NaN                     NaN

[42863 rows x 41 columns]

In [ ]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')