<a href="https://colab.research.google.com/github/leonarddocchagas/data_science/blob/master/Unidades_B%C3%A1sicas_de_Sa%C3%BAde.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# bibliotecas
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/leonarddocchagas/data_science/master/projetos/unidades_basicas_de_saude/ubs.csv')
df.head()

   vlr_latitude  ...                                 dsc_medicamentos
0    -10.911237  ...                        Desempenho acima da média
1     -9.485943  ...  Desempenho mediano ou  um pouco abaixo da média
2    -23.896000  ...                  Desempenho muito acima da média
3    -16.447874  ...  Desempenho mediano ou  um pouco abaixo da média
4     -6.573311  ...  Desempenho mediano ou  um pouco abaixo da média

[5 rows x 13 columns]

In [5]:
df.shape

(37690, 13)